@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #f5f7fa;
  
}

h1 {
    margin: 50px 0 30px; /*  top | left-right | bottom */
    text-align: center;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;  /* ortalamamı sağladı */
}

.faq {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* 
------------------------------
.faq .active {
     faq içinde bulunan,
       active class'ına sahip
       başka bir element 
}
----------------------------------
.faq.active {
       Hem faq class'ı OLAN
       hem de active class'ı OLAN
       AYNI element 
}
---------------------------------
*/

/* .faq elemanı active class’ını aldığında, elemanın önüne ve arkasına ikon yerleştirdim (::before ve ::after HTML’de gerçekten var olmayan, ama CSS ile eklenen sahte elemanlardır.)*/
.faq.active::before, 
.faq.active::after {
    content: '\f075'; 
    font-family: 'Font Awesome 5 Free';
    color: #4f4949;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before{
    color: rgb(0, 0, 255) ;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title {
    margin: 0 35px 0 0;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
} 