.modal{
    position: fixed; /* Sayfayı aşağı-yukarı kaydırsan bile yerinden kıpırdamaz. */
    top: 20%;
    left: 11%;
    width: 70%;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    display: none; /* Element görünmez olur. */ 
}

#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 131, 131, 0.7);
    display: none;
}

@media(min-width:48rem){
    .modal{
        left: calc(50% - 10rem); /* Kutuyu ekranın ortasına al, ama kutunun yarısını soldan çıkar ki tam merkezde dursun. */
        width: 20rem;
    }
}