body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color-scheme: rgb(44, 41, 44);
    background-color: #f6ebec;
}

#main-header{
    background-color: #393D7E;
    color: white;
    padding: 2rem 5%;
    /* 
    2rem → Tarayıcının root font-size değerine göre hesaplanır
    5% → Elemanın genişliğinin %5’i kadar padding verir.
    */
    text-align: center;
}

.btn{
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: #5459AC;
    border: 1px solid #5459AC;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt{ /* sonra yazılanın özellikleri uygulanır çakışanlarda */
    background-color: transparent;
    border-color: transparent;
    color:#5459AC;
}

.btn:hover{
    background-color: #2c33b3;
    border-color: #2c33b3;
}

.btn-alt:hover{
    background-color: #d6d6f0;
}