@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #161E54;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width:580px) {
    body {
        flex-direction: column;
    }
}

