@import url("https://fonts.googleapis.com/css?family=Heebo:300,400&display=swap");

* {
  box-sizing: border-box;
}


body {
    background-color: #0F2854;
    font-family: "Heebo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    position: relative;
    background-color: #4988C4;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    border: 0;
}

button:focus {
    outline: none;
}

button .circle {
    position: absolute;
    background-color: #BDE8F5;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50% , -50%) scale(0);
    /* -50% (X ekseni): Elementin kendi genişliğinin %50’si kadar sola
    -50% (Y ekseni): Elementin kendi yüksekliğinin %50’si kadar yukarı 
    
    scale(0): Elementin ölçeğini 0 yapar
                Genişlik = 0
                Yükseklik = 0
                Yani: görünmez (ama DOM’da durur)
    */

    animation: scale 0.5s ease-out;
    /* 
    scale isimli keyframes animasyonunu 0.5 saniye boyunca yumuşak bitişli (ease-out) çalıştırır
    */
}

@keyframes scale {
    /* 
    to { ... } : Animasyonun bitiş halini tanımlar.from yazılmamış → başlangıç hali, elementin kendi CSS’inde yazan transform olur
    */
    to {
        transform: translate(-50%, -50%) scale(3); /* scale 3 elementin boyutunu 3 katına çıkarır */
        opacity: 0; /* Element tamamen şeffaf olur.Ölçeği büyürken yavaş yavaş görünür */
    }
}