@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #FFF8D4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h3 {
    color: #5c654c;
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    width: 500px;
}

#text-area {
    display: block;
    border: none;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
    border-radius: 2px;
}

#text-area:focus {
    outline: 0;
}

.tag {
    background-color: #626b52;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0px 5px 10px 0px;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight {
    background-color: #25291e ;
}