* {
  box-sizing: border-box;
}


body {
    background-color: rgb(213, 213, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 3px solid black;
    background-color: white;
}

.fill {
    background-image: url("https://picsum.photos/150/150");
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold {
    border:5px solid #ccc
}

.hovered { 
    background-color: #333;
    border-color: white;
    border-style: dashed; /* çizgi çizgi gözüküyor */
}

@media(max-width:800px) {
    body {
        flex-direction: column;
    }
}