@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

:root {
  --border-color: #254075;
  --fill-color: #4d60e0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #5b6ddf;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

h1 {
  margin: 10px 0 0;
}

h3 {
  font-weight: 400;
  margin: 10px 0;
}

.cup {
  background-color: white;
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 40px 40px;
  height: 15.625rem;
  width: 9.375rem;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.remained {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  transition: 0.3s ease;
  /* 
    Flex container içindeki tüm flex:1 olan elemanlar:
    aynı genişlikte / yükseklikte olur
    boş alanı eşit paylaşır
  */
}

.remained span {
    font-size: 20px;
    font-weight: bold;
}

.remained small {
    font-size: 12px;
}

.percentage {
    background-color: var(--fill-color);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 0;
    transition: 0.3s ease;
}

.text {
    text-align: center;
    margin: 0 0 30px;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  width: 17.5rem; /* yani wrap yparken bu genişliğe göre yapıyor */
  align-items: center;
  justify-content: center;
}

.cup.cup-small {
  width: 3.125rem;
  height: 5.9375rem;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 14px;
  align-items: center; /* cup class ında display:flex kullandığım için direkt burda da bunları kullanabiliyorum */
  justify-content: center;
  text-align: center;
  margin: 5px;
  transition: 0.3s ease;
}

.cup.cup-small.full {
  background-color: var(--fill-color);
  color: white;
}
