@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("illustration.jpg") no-repeat center center / cover;
}

.split.right {
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section{
    border: 2px solid #DED2D9;
    padding: 20px 40px;
    border-radius: 5px;
    color: #828282;
}

h1{
    color: #525252;
    font-size: 36px;
}

.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 18.75rem;
}

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #DED2D9;
    display: block;
    width: 100%;
    padding: 15px 0;
}

.form-control input:focus,
.form-control input:valid{
    outline:0;
    /* 
    input odaklandığında (focus) veya içine geçerli bir değer yazıldığında (valid) input’un outline (mavi dış çerçeve) çizgisini kaldırmak için kullanılıyor.
    */
    border-bottom-color: #7F265B ;
}

a{
    text-decoration: none;
    color: #7F265B;
    margin-left: 3px;
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: #7F265B;
    color: white;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
    /* Kullanıcı butona bastığında buton %98 boyutuna küçülür*/
}

.form-control label{
    position: absolute;
    top: 15px;
}


.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* 
    transition => geçiş efekti
    cubic-bezier => animasyonun hız dağılımlarını kontrol eder
    benim verdiğim değerlerle zıplayarak yukarı çıkma gerçekleşir
    */
}

.form-control input:focus + label span, /* input elemanı focus olursa hemen yanındaki label bulunur o label’ın içindeki tüm span’lar seçilir. */
.form-control input:valid + label span{
    color:#DED2D9;
    transform: translateY(-30px); /* email kutusuna bastığımda email yazısı yukarı çıkıyor */
}