@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
  position: fixed; /* bunu dediğim anda heronun onünde gözüktü */
  background-color: #222;
  top: 0; /* yukarıya hizala */
  left: 0;
  right: 0; /* genişliği tam ekran yap */
  transition: all 0.3s ease-in-out; /* Elementin herhangi bir CSS değişikliğinde yumuşak bir animasyon olmasını sağlar */
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* y ekseni */
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none; /* iste elemanlarının başındaki varsayılan simgeleri (bullet, sayı, rakam vb.) kaldırır*/
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current, 
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.hero {
    background-image: url('https://images.pexels.com/photos/33337903/pexels-photo-33337903.jpeg');
    background-repeat: no-repeat; /* Resim tekrarlanmasın, sadece 1 tane gözüksün. */
    background-size: cover; /* “Alanı tamamen doldur ama resmi ezme.” */
    background-position: bottom center;/* Resmin hangi noktasının elemente hizalanacağını belirler.Resmin alt kısmı ortalanarak gösterilir.Eğer cover kullanıyorsan ve resim kırpılıyorsa, bu özellik hangi kısmın görünür kalacağını belirler. */
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px; /* satır yüksekliği */
  letter-spacing: 1.2px;
}