@import url("https://fonts.googleapis.com/css?family=Ubuntu");
:root{
    --left-bg-color:rgb(87, 84, 236, 0.7);
    --right-bg-color:rgb(43, 43, 43, 0.7);
    --hover-width:70%;
    --other-width:30%;
    --speed:1000ms;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1{
    font-size: 4rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    /* position:absolute de ortalamak için bu tercih edili(y de de ortalamak isteseydim bit -50% daha eklerdim yanina 
    left: 50% → Orta noktaya yerleştir
    translateX(-50%) → Elemanın kendi genişliği kadar geri düzelt */
    white-space: nowrap; /* yazı asla alt satıra geçmez, tek satırda kalır. */
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}


.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left{
    left: 0;
    background: url('//i.pinimg.com/1200x/e0/8b/fd/e08bfddf8d8474d7cc4df0e90e60b45a.jpg') no-repeat center center / cover;
    
}

.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

/* Bir HTML elemanının içine, içeriğinden önce ekstra bir sanal eleman ekler.
İçeriğin başına bir yazı, ikon, şekil ekleyebilirsin.
Arka plan efekti, overlay, gölge gibi süs amaçlı şeyler eklemek için çok kullanılır.
Animasyonlarda, butonda hover efekti yaparken kullanılır. */

.split.right{
    right: 0;
    background: url('https://i.pinimg.com/736x/f7/37/48/f73748c13c64dd5dcc0f73482ea4bf38.jpg') no-repeat center center / cover;
}

.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split-left::before{
    transition: all var(--speed) ease-in-out;
}

.btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    width: 12rem;
    border: 2px solid white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 6px;
    padding: 1.1rem;
}

.hover-left .left{
    width: var(--hover-width);
}

.hover-left .right{
    width: var(--other-width);
}

.hover-right .left{
    width: var(--other-width);
}

.hover-right .right{
    width: var(--hover-width);
}

@media(max-width: 800px){
    h1{
        font-size: 2rem;
        top: 30%;
    }
    .btn{
        padding: 1.2rem;
        width: 8rem;
    }
}