@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.magic {
  background-color: #f9ca24;
  color: white;
  font-family: inherit;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 18px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active { /* tıklanıp basılı tutulduğunda (etkin olduğu sırada) */
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  margin-top: 55px;
  position: relative;
  transition: .4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTUwaGx4YXZ2b2R1MXIwenZmczBkcXR5azY4cm9meDN6aHI3MTE0MSZlcD12MV9naWZzX3RyZW5kaW5nJmN0PWc/OfkGZ5H2H3f8Y/giphy.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: .4s ease;
}

.box::after { /* sağdaki gölgeyi oluşturdu */
  content: '';
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before { /* altındaki gölgeyi oluşturdu */
  content: '';
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}